@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica Neue Eng";
    src: url('@/assets/fonts/Helvetica_Neue_LT_65_Medium.ttf');
}

@font-face {
    font-family: "Helvetica Neue Geo";
    src: url("@/assets/fonts/Helvetica_Neue_LT_GEO_45_Light.ttf");
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;

}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}